TRDServiceTester/Service References/TRDWCFServices/CanvasserPortalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CanvasserPortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4400/CanvasserPortalServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4400/CanvasserPortalServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICanvasserPortalServices_isUserCredentailsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:isUserCredentailsValid" />
  </wsdl:message>
  <wsdl:message name="ICanvasserPortalServices_isUserCredentailsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isUserCredentailsValidResponse" />
  </wsdl:message>
  <wsdl:message name="ICanvasserPortalServices_testDBConnections_InputMessage">
    <wsdl:part name="parameters" element="tns:testDBConnections" />
  </wsdl:message>
  <wsdl:message name="ICanvasserPortalServices_testDBConnections_OutputMessage">
    <wsdl:part name="parameters" element="tns:testDBConnectionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICanvasserPortalServices">
    <wsdl:operation name="isUserCredentailsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvasserPortalServices/isUserCredentailsValid" message="tns:ICanvasserPortalServices_isUserCredentailsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvasserPortalServices/isUserCredentailsValidResponse" message="tns:ICanvasserPortalServices_isUserCredentailsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testDBConnections">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanvasserPortalServices/testDBConnections" message="tns:ICanvasserPortalServices_testDBConnections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanvasserPortalServices/testDBConnectionsResponse" message="tns:ICanvasserPortalServices_testDBConnections_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICanvasserPortalServices" type="tns:ICanvasserPortalServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isUserCredentailsValid">
      <soap:operation soapAction="http://tempuri.org/ICanvasserPortalServices/isUserCredentailsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testDBConnections">
      <soap:operation soapAction="http://tempuri.org/ICanvasserPortalServices/testDBConnections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CanvasserPortalService">
    <wsdl:port name="BasicHttpBinding_ICanvasserPortalServices" binding="tns:BasicHttpBinding_ICanvasserPortalServices">
      <soap:address location="http://localhost:4400/CanvasserPortalServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>